//"Nameless Chamber" - a music dictation web application.
//"Copyright 2020 Massachusetts Institute of Technology"

//This file is part of "Nameless Chamber"
    
//"Nameless Chamber" is free software: you can redistribute it and/or modify
//it under the terms of the GNU Affero General Public License as published by //the Free Software Foundation, either version 3 of the License, or
//(at your option) any later version.

//"Nameless Chamber" is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU Affero General Public License for more details.

//You should have received a copy of the GNU Affero General Public License
//along with "Nameless Chamber".  If not, see	<https://www.gnu.org/licenses/>.

//Contact Information: garo@mit.edu 
//Source Code: https://github.com/NamelessChamber/NamelessChamber



<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="small-6 columns">
    <%= f.label :email %>
    <%= f.email_field :email%>
</div>

<div class="small-6 columns">
  <%= f.label :student_id, 'Student ID' %>
  <%= f.text_field :student_id %>
</div>

<div class="small-6 columns">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
</div>

<div class="small-6 columns">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
</div>

<div class="small-12 columns">
    <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
</div>

<div class="small-2 columns" style="float:left;">
    <div class="actions">
        <%= f.submit "Sign up" %>
    </div>
</div>
<% end %>
<div class="small-2 columns" style="float:left;">
<%= render "devise/shared/links" %>
</div>
