<div class="card small-12 columns">
  <div class="card-section">
    <h3>create a new classroom for <i><%= @course.name %></i></h3>
  </div>
  <div class="card-section">
    <%= form_for @classroom, url: {action: 'create'} do |f| %>
      <div class="small-12 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <!-- <div class="small-4 columns">
        <%= f.label :start_date %>
        <%= date_field(:classroom, :start_date) %>
      </div> 
      <div class="small-4 columns">
        <%= f.label :end_date %>
        <%= date_field(:classroom, :end_date) %>
      </div> -->
      <div class="small-4 columns">
        <%= f.label :password %>
        <%= f.text_field :password %>
      </div>
      <div class="small-12 columns">
        <%= f.submit 'Create', class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
