
<div class="small-12 columns">
  <div class="row columns">
    <h1>pset categories</h1>
    <%= link_to 'add category', new_admin_exercise_category_path, class: 'button' %>
  </div>
  <% @exercise_categories.each do |category| %>
  <div class="card">
    <div class="card-divider">
      <h4>
        <%= category.name %>
        <%= link_to '&#x2718;'.html_safe,
        admin_exercise_category_path(category),
        method: :delete,
        data: {confirm: "You are about to remove the category: " + category.name + "\nAlong with all associated subcategories and psets. \nPress OK to confirm"}%>
      </h4>
    </div>
    <div class="card-section">
      <div class="row columns">
        <%= link_to 'add subcategory', new_admin_exercise_category_exercise_subcategory_path(category), class: 'button' %>
      </div>
    </div>
    <% if category.exercise_subcategories.count > 0 %>
      <% category.exercise_subcategories.each do |subcategory| %>
        <div class="card-section">
          <h5>
            <%= subcategory.name %>
            <%= link_to '&#x2718;'.html_safe,
            admin_exercise_category_exercise_subcategory_path(category, subcategory),
            method: :delete,
            data: {confirm: "You are about to remove the subcategory: " + subcategory.name + "\nAlong with all associated psets. \nPress OK to confirm"}%>
          </h5>
          <%= form_for PSet.new, url: admin_p_sets_path do |f| %>
            <%= f.hidden_field :exercise_subcategory_id, value: subcategory.id %>
            <%= f.submit 'add pset', class: 'button' %>
          <% end %>
          <% if subcategory.p_sets.count > 0 %>
            <ul>
              <% subcategory.p_sets.each do |p_set| %>
                <li>
                  <%= p_set.name || 'new pset' %>
                  <%= link_to 'edit', admin_p_set_options_path(p_set), class: 'button small' %>
                  <%= link_to 'delete', admin_p_set_path(p_set), method: :delete, class: 'alert button small' %>
                </li>
              <% end %>
            </ul>
          <% else %>
            no psets in subcategory.
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="card-section">
        no subcategories in category.
      </div>
    <% end %>
  </div>
  <% end %>
</div>
