<div class="card small-12 columns">
  <div class="card-section">
    <div class="row">
      <div class="small-12 medium-8 large-8 columns">
        <h2><%= @course.name %></h3>
      </div>
      <div class="small-12 medium-4 large-4 columns">
        <ul class="menu align-right">
          <li class="menu-item">
            <%= link_to 'Edit', edit_admin_course_path(@course.id), class: ['button', 'align-right'] %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-divider">
    <h2>Classrooms</h2>
  </div>
  <div class="card-section">
    <% if @course.classrooms.empty? %>
      <h3>
        No classrooms for this course.
      </h3>
      <%= link_to 'Create one.', new_admin_course_classroom_path(@course.id), class: 'button' %>
    <% else %>
      <table class="hover">
        <thead>
          <th>Name</th>
          <th>Created</th>
        </thead>
        <tbody>
          <% @course.classrooms.each do |classroom| %>
            <tr>
              <td><%= classroom.name %></td>
              <td><%= classroom.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
