<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Nameless Chamber" %></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation-float.min.css" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application.scss' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>

    <div class="row">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">
              <%= link_to 'Nameless Chamber', root_path %>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <% if user_signed_in? %>
              <% if current_user.admin %>
                <li class="menu-text">
                  <%= link_to 'Students', admin_users_path %>
                </li>
                <li class="menu-text">
                  <%= link_to 'courses', admin_courses_path %>
                </li>
                <li class="menu-text">
                  <%= link_to 'psets', admin_exercise_categories_path %>
                </li>
              <% end %>
              <% if current_user.classrooms.count.positive? %>
                <li class="menu-text">
                  <%= link_to 'classrooms', classrooms_path %>
                </li>
              <% end %>
              <li class="menu-text">
                <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="menu-text">
                <%= link_to 'sign in', new_user_session_path %>
              </li>
              <li class="menu-text">
                <%= link_to 'sign up', registration_key_show_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>

  </body>
</html>
