//"Nameless Chamber" - a music dictation web application.
//"Copyright 2020 Massachusetts Institute of Technology"

//This file is part of "Nameless Chamber"
    
//"Nameless Chamber" is free software: you can redistribute it and/or modify
//it under the terms of the GNU Affero General Public License as published by //the Free Software Foundation, either version 3 of the License, or
//(at your option) any later version.

//"Nameless Chamber" is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU Affero General Public License for more details.

//You should have received a copy of the GNU Affero General Public License
//along with "Nameless Chamber".  If not, see	<https://www.gnu.org/licenses/>.

//Contact Information: garo@mit.edu 
//Source Code: https://github.com/NamelessChamber/NamelessChamber



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Nameless Chamber" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag "application" %>
    <% unless @js_packs.nil? || @js_packs.empty? %>
      <% @js_packs.each do |pack| %>
        <%= javascript_pack_tag pack %>
        <%= stylesheet_pack_tag pack %>
      <% end %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">
              <%= link_to 'Nameless Chamber', root_path %>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <% if user_signed_in? %>
              <% if @current_user_is_admin %>
                <li class="menu-text">
                  <%= link_to 'Students', admin_users_path %>
                </li>
                <li class="menu-text">
                  <%= link_to 'courses', admin_courses_path %>
                </li>
                <li class="menu-text">
                  <%= link_to 'psets', admin_exercise_categories_path %>
                </li>
              <% end %>
              <% if @current_user_is_enrolled %>
                <li class="menu-text">
                  <%= link_to 'classrooms', classrooms_path %>
                </li>
              <% end %>
              <li class="menu-text">
                <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="menu-text">
                <%= link_to 'sign in', new_user_session_path %>
              </li>
              <li class="menu-text">
                <%= link_to 'sign up', registration_key_show_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>

  </body>
</html>
